/* Portfolio.css */

.portfolio-section {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 50px 20px;
}

.title {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.title span {
    color: #00bcd4;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.project-card {
    background-color: #fcf9f9e5;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: auto; 
    height: 180px; /* Adjust as needed */
    object-fit: cover; /* Ensures the image fits without distortion */
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}


